@import "colors";
@import "dimensions";

div#wrapper_content {
  position: absolute;
  width: 100%;
  height: calc(100% + (80px * 2));
  z-index: 1;
}

div#wrapper_content {

  h2,p {
    margin: 0;
  }

  li {
    display: inline-block;
  }

  div#blog_background img {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

}


div#container_blog_load {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

div#container_blog_load {

  div#blog_load {
    box-sizing: border-box;
    position: relative;
    width: 60%;
    height: auto;
    min-height: 100%;
    margin: 0 auto;
    background-color: $桜色;
    overflow: auto;
    z-index: 1;
  }

}