@import "colors";
@import "dimensions";

div#main_container {
  width: 100%;
  height: 100%;
  min-height: 800px;
}

div#header_local {
  position: relative;
  width: 80%;
  height: 45px;
  margin: 2.5px auto 0;
  background-color: $red;
  opacity: 0.9;
  border-radius: 5px 5px 20px 20px;
  box-shadow: 1px 1px 1px 1px gray;
}

div#header_local
  div#header_local_image {
  box-sizing: border-box;
  width: 100%;
  padding-right: 30px;
  padding-top: 3px;
  margin: 0; 
  height: inherit;
}

div#header_local p {
  box-sizing: border-box;
  width: inherit;
  height: inherit;
  padding: 0;
  margin: 0 auto;
  text-align: right;
  text-decoration: none;
}

div#header_local_image .image_logout {
  height: 35px;
  margin-top: 3px;
  margin-right: 15px;
}

div#header_blog {
  position: relative;
  display: flex;
  width: 80%;
  height: 40px;
  margin-top: 20px;
  background-color: $brown;
  opacity: 0.9;
  border-radius: 0 5px 20px 0;
  box-shadow: 1px 1px 1px 1px gray;
}

div#header_blog
  div#name, div#account {
    box-sizing: border-box;
    width: 100%;
    height: inherit;
  }

div#header_blog
  div#name p {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  margin-top: 15px;
  margin-left: 100px;
  text-align: left;
  color: $white;
  font-weight: bold;
}

div#header_blog
  div#account p {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  text-align: right;
  color: $white;
  font-weight: bold;
}

div#header_blog a {
  text-decoration: none;
  color: $white;
  font-size: $small;
  font-weight: bold;
}

div#header_blog .image_account {
  height: 35px;
  margin-top: 5px;
  margin-right: 50px;
}

div#sub_container {
  position: relative;
  display: flex;
  width: 80%;
  max-width: 900px;
  min-height: inherit;
  margin: 0 auto;
}

div#sub_container
  div#profile {
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    margin: 30px auto;
    padding-top: 15px;
    text-align: center;
    background-color: $white;
    // border: 1px solid $dark-red;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 1px 1px $brown;
}

div#sub_container
  div#profile a {
    align-items: end;
    text-decoration: none;
    color: $green;
  }

div#sub_container
  div#blog_container {
    box-sizing: border-box;
    width: 500px;
    height: 100%;
    min-height: 500px;
    margin: 30px auto;
    text-align: center;
    background-color: $white;
    // border: 1px solid $orange;
    border-radius: 20px 0 20px 0;
    box-shadow: 1px 1px 1px 1px $brown;
}

div#blog_container
  div#blog_container_title p {
  box-sizing: border-box;
  width: 450px;
  height: 50px;
  padding-top: 15px;
  margin: 15px auto 0;
  text-align: center;
  // border-bottom: 1px solid $light-orange;
  color: gray;
  font-size: $large;
}

div#blog_container
  div#blog_new p {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-right: 30px;
    margin: 0;
    text-align: right;  
}

div#blog_container
  div#blog_new a {
    color: $green;
    font-size: $large;
    font-weight: bold;
    text-decoration: none;
  }

div#blog_container
  div#blogs li {
    box-sizing: border-box;
    width: 85%;
    height: 100px;
    padding: 20px 10px 10px 50px;
    margin: 0 auto;
    // background-color: $light-yellow;
    border-top: 1px solid $light-orange;
    text-align: left;
    font-weight: bold;
  }

div#blog_container
  div#blogs a {
    text-decoration: none;
    color: $green;
  }

div#blogs
  div#time a {
    font-size: $small;
    font-weight: normal;
    color: gray;
  }

div#blogs
  div#delete {
    box-sizing: border-box;
    padding-right: 20px;
    margin: 0;
    text-align: right;
  }

div#blogs
  div#delete .image_trash {
    height: 23px;
  }

div#blogs
  div#delete a {
    font-size: $small;
    font-weight: normal;
    color: $green;
  }

ul {
  padding: 0;
}

li {
    list-style: none;
}
