@import "colors";
@import "dimensions";

div#wrapper_my_content {
  position: absolute;
  display: fixed;
  width: 100%;
  height: 100%;
}

div.main_container {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: $yellow;
  z-index: 1;
}

div.container_setting {
  width: calc(100% / 10 * 3);
  height: auto;
}

div.blog_load {
  width: calc(100% / 10 * 6);
  height: auto;
  background-color: $桜色;
}

div.container_setting {

  div.owner {
    width: 100%;
    height: auto;
  }

  p.name {
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    margin: 0 auto;
    padding-top: 20px;
    background-color: $green;
    color: $white;
    font-size: $large;
    font-weight: bold;
    text-align: center;
    // border-radius: 0 0 10px 10px;
  }

  div.account {
    width: 100%;
    height: auto;
    margin: 30px 0;
    margin-top: 50px;
  }

  div.account p.image,
  div.account p.chara_account {
    box-sizing: border-box;
    width: 50%;
    height: 70px;
    margin:0 auto;
    padding-top: 20px;
    background-color: $light-red;
    text-align: center;
  }

  div.account p.image {
    border-radius: 10px 10px 0 0;
  }

  div.account p.chara_account {
    border-radius:0 0 10px 10px ;
  }

  div.account a {
    color: $white;
    font-weight: bold;
  }

    div.account 
      p.chara_account a:hover {
      border-bottom: 1px solid $white;
    }

  div.profile {
    width: 100%;
    height: auto;
    margin: 30px auto;
  }

  p.portrait {
    width: 50%;
    height: auto;
    margin: 0 auto;
    background-color: $天色;
    border-radius: 10px 10px 0 0;
  }

    p.portrait img {
      width: 100%;
      height: auto;
      border-radius: 10px 10px 0 0;
    }

      p.portrait img:hover {
        opacity: 0.8;
      }

  p.chara_profile {
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 5px;
    background-color: $天色;
    text-align: center;
    border-radius:0 0 10px 10px;
  }

  p.chara_profile a {
    color: $white;
    font-weight: bold;
  }

    p.chara_profile a:hover {
      border-bottom: 1px solid $white;
    }
  
  div.background-color {
    width: 100%;
    height: auto;
  }

  p.background_image {
    width: 50%;
    height: auto;
    margin: 0 auto;
    background-color: $紅紫;
    border-radius: 10px 10px 0 0;
  }

    p.background_image img {
      width: 100%;
      height: auto;
      border-radius: 10px 10px 0 0;
    }

    p.chara_background_image {
      width: 50%;
      height: auto;
      margin: 0 auto;
      padding-bottom: 10px;
      background-color: $紅紫;
      text-align: center;
      border-radius:0 0 10px 10px;
    }

    p.chara_background_image a {
      color: $white;
      font-weight: bold;
    }

      p.chara_background_image a:hover {
        border-bottom: 1px solid $white;
      }

      p.background_image img {
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0 0;
      }
  
        p.background_image img:hover {
          opacity: 0.8;
        }

}


div.blog_load {

  div.blog_name {
    width: 100%;
    height: auto;
  }

  p.name {
    width: 70%;
    height: 50px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    border-bottom: 1px solid $黒紅;
  }

  div.blog_container_title {
    width: 100%;
    height: auto;
    margin: 30px 0 10px;
  }

  div.blog_container_title p {
    width: 70%;
    height: auto;
    margin: 0 auto;
    text-align: center;
  }

  div.blog_new {
    width: 100%;
    height: auto;
  }

  div.blog_new p {
    width: 60%;
    height: auto;
    margin: 0 auto;
    padding-right: 20px;
    text-align: right;
    border-bottom: 1px solid $蜜柑色;
  }

}

div#header_logout {
  width: calc(100% / 9);
  height: auto;
}

div#header_logout {

  p.image {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    text-align: center;
  }

  p.image img {
    width: auto;
    height: 20px;
    margin-top: 20px;
  }

  p.chara {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    // padding-bottom: 10px;
    text-align: center;
  }

  p.chara a {
    color: $white;
    font-size: $small;
    font-weight: bold;
  }

}
