@import "colors";
@import "dimensions";

div#wrapper_reviews {
  position: absolute;
  width: 100%;
  height: calc(100% + (80px * 2));
  z-index: 1;
}

div#wrapper_reviews {

  h2,p {
    margin: 0;
  }

  li {
    display: inline-block;
    width: 100%;
    height: auto;
  }

  div#blog_background img {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  }

}

div#container_blog_load {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

div#container_blog_load {

  div#blog_load {
    box-sizing: border-box;
    position: relative;
    width: 60%;
    height: auto;
    min-height: 100%;
    margin: 0 auto;
    background-color: $桜色;
    overflow: auto;
    z-index: 1;
  }

  div#container_blog_name {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 80px 0;
    text-align: center;
  }

  div#container_blog_name
    p#corp_name {
      margin: 20px 0;
      color: $黒紅;
    }

  div#container_comment {
    width: 100%;
    height: auto;
  }

  div#container_comment {

    div#dummy {
      width: 80%;
      height: auto;
      margin: 0 auto;
      background-color: $white;
      border: 1px solid $藍鉄;
      border-radius: 20px 20px 20px 20px;
      box-shadow: 1px 1px $gray;
    }
  
    p#title {
      width: 100%;
      height: auto;
      margin: 50px 0 30px;
      text-align: center;
      font-size: $large;
      font-weight: bold;
    }

    div#conrainer_ex {
      width: 100%;
      height: auto;
      text-align: center;
    }

    p#ex {
      width: 70%;
      height: auto;
      margin: 0 auto;
      margin-bottom: 30px;
      padding-bottom: 25px;
      border-bottom: 1px solid $黒紅;
    }

  }

    div#subcontainer {
      display: flex;
      width: 100%;
      height: auto;
    }

    div#subcontainer {

      p#name,
      p#message {
        box-sizing: border-box;
        width: calc(100% / 9 * 1.5);
        height: auto;
        margin-left: 10px;
        padding-top: 45px;
        text-align: right;
      }

      p#form {
        width: calc(100% / 9 * 6.5);
        text-align: center;
      }


      p#necessary {
        box-sizing: border-box;
        width: calc(100% / 9 * 1);
        height: auto;
        margin: 0 auto;
        padding-top: 45px;
        color: $light-red;
        text-align: left;
      }

      input#review_name,
      input#review_comment {
        width: 90%;
        margin: 30px auto;
        background-color: $yellow;
        color: $黒紅;
        font-weight: normal;
      }

    }

    div#container_submit {
      width: 100%;
      height: auto;
    }

    div#container_submit {

      p#submit {
        box-sizing: border-box;
        width: 50%;
        height: auto;
        margin: 0 auto;
        padding-bottom: 20px;
        text-align: center;
      }
    
      p#submit input {
        width: 120px;
        height: 30px;
        font-weight: normal;
        background-color: $藍鉄;
        border: none;
      }

        p#submit input:hover {
        background-color: $light-red;
        }
    }

    p#back_to_prev {
      width: 100%;
      height: auto;
      margin: 30px 0;
      text-align: center;
    }

    p#back_to_prev a {
      color: $黒紅;
    }

      p#back_to_prev a:hover {
        border-bottom: 1px solid $黒紅;
        }

}