@import "colors";
@import "dimensions";

li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: gray;
}

div#wrapper_header {
  width: 100%;
  height: 100px;
  margin: 0 auto;
}

div#wrapper_header h2 {
  box-sizing: border-box;
  width: 80%;
  height: 70px;
  margin: 0 auto;
  padding-top: 30px;
  padding-left: 10px;
  background-color: $green;
  color: $white;
  text-align: left;
}

div#wrapper_header p {
  box-sizing: border-box;
  width: calc((100% - 20px) / 9 * 8);
  height: inherit;
  margin: 0;
  padding-top: 0;
  color: $white;
  text-align: right;
}

header a {
  color: $white;
}

div#window_navi,
  div#window_navi p {
  box-sizing: border-box;
  width: 80%;
  height: 35px;
  margin: 3px auto;
  background-color: $紅紫;
  text-align: right;
  border-radius: 0 0 20px 20px;
}

  div#window_navi a {
    display: block;
    padding-top: 5px;
    color: $white;
    font-size: $large;
  }

div#my_page {
  box-sizing: border-box;
  display: flex;
  box-sizing: border-box;
  width: 80%;
  height: 30px;
  margin: 0 auto;
  padding-top: 0;
  background-color: $green;
  border-radius: 0; 
}

div#wrapper_header
  p#chara_my_page {
  box-sizing: border-box;
  width: calc((100% - 20px) / 9);
  height: inherit;
  margin: 0 10px 0 0;
  padding-top: 0;
  color: $white;
  text-align: left;
  font-size: $large;
}

div#wrapper_header
  p#chara_my_page a:hover {
    border-bottom: 1px $white solid;
}

div#window_container {
  box-sizing: border-box;
  display: flex;
  width: 80%;
  height: 100%;
  margin: 50px auto;
}

div#users_index {
  box-sizing: border-box;
  display: flex;
  width: calc((100% - 5px) / 4 * 2.9);
  text-align: center;

    p#users_blog_image {
      display: block;
      position: relative;
      width: 325px;
      height: 200px;
      margin: auto 10px;
      background-color: $white;
      border-radius: 10px 10px 0 0;
    }

      p#users_blog_image img {
        display: block;
        position: relative;
        width: 325px;
        height: 200px;
        margin: 0;
        border-radius: 10px 10px 0 0;
      }

        p#users_blog_image img:hover {
          opacity: 0.8;
        }


    p#users_blog_name {
      box-sizing: border-box;
      display: block;
      position: relative;
      width: 325px;
      height: 50px;
      margin: 0 auto;
      padding-top: 20px;
      padding-left: 20px;
      text-align: left;
      background-color: $white;
      color: gray;
    }

      p#users_blog_name a {
        color: $dark-gray;
        font-weight: bold;
        font-size: $normal;
      }

      p#users_blog_name a:hover {
        border-bottom: 1px solid $green;
      }

    p#user_blog_caption {
      box-sizing: border-box;
      display: block;
      position: relative;
      width: 325px;
      height: 50px;
      margin: 0 auto;
      padding: 0 20px;
      text-align: left;
      background-color: $white;
      color: gray;
      font-size: $small;
    }


    p#users_blog_id {
      box-sizing: border-box;
      display: block;
      position: relative;
      width: 325px;
      height: 30px;
      margin: 0 auto 20px;
      padding-left: 20px;
      text-align: left;
      border-radius: 0 0 10px 10px;
      background-color: $white;
      color: gray;
      font-size: $normal;
    }

      p#users_blog_id a {
        color: gray;
        font-size: $small;
      }


      p#users_blog_id a:hover {
        border-bottom: 1px solid gray;
      }

  }

div#window_container {

  div#latest_blogs {
    box-sizing: border-box;
    display: block;
    width: calc((100% - 5px) / 4 * 1.1);
    height: 600px;
    margin: 0 5px;
    background-color: $light_red;
    border-radius: 10px 10px 10px 10px;
  }

    div#topic
      div#title p {
        box-sizing: border-box;
        width: 90%;
        height: 50px;
        color: $white;
        margin: 0 auto;
        padding-top: 20px;
        text-align: center;
      }

    div#topic li {
      display: flex;
    }

    div#topic li.contents {
      display: flex;
    }

    div#topic
      div#icon {
        width: calc(100% / 3);
        height: 100px;
        margin: 0px;
        background-color: $white;
        border-bottom: 1px solid $light-red;
      }

    div#topic
      div#icon p {
        margin: 20px 0;
        text-align: center;
      }

    div#topic
      div#icon img {
        box-sizing: border-box;
        width: 95%;
        height: 95%;
        margin: auto 0;
        padding: 0 5px;
      }

    div#topic
      div#icon img:hover {
      opacity: 0.8;
      }

    div#topic
      div#contents {
        width: calc(100% / 3 * 2);
        height: 100px;
        margin: 0;
        background-color: $white;
        border-bottom: 1px solid $light-red;
      }

        div#contents 
         div#title p {
          box-sizing: border-box;
          width: 100%;
          height: 50px;
          margin: 0 auto;
          padding-top: 15px;
          text-align: left;
        }

        div#contents 
          div#title a {
          color: $dark-gray;
          font-size: $normal;
          font-weight: bold;
        }

        div#contents
          div#daytime p {
          box-sizing: border-box;
          width: 100%;
          height: 50px;
          margin: 0 auto;
          padding: 15px 0 10px;
          text-align: left;
        }

        div#contents
          div#daytime a {
            font-size: $tiny;
          }

        div#contents 
          div#title a:hover,
          div#daytime a:hover {
          border-bottom: 1px solid gray;
        }

}



footer p {
  width: 80%;
  height: 40px;
  margin: 0 auto;
  padding-top: 20px;
  background-color: $green;
  color: $white;
  text-align: center;
  border-radius: 10px 10px 0 0;
  font-size: $normal;
}

