/* header/footer グリーン系 */
$light_green: honeydew;
$green: olive;
$dark-green: darkolivegreen;

/* 背景　イエロー系　*/
$light-yellow: lightyellow;
$yellow: gold;
$light-orange: bisque;
$orange: orange;
$vivid-orange: #ff7f00;

/* レッド系 */
$light_red: tomato;
$red: #ea5532;
$dark-red: maroon;

/* パープル系 */
$purple: blueviolet;

/* ピンク系 */
$pink: indigo;

/*　茶系 */
$brown: sienna;

/*　ホワイト系 */
$light-white: floralwhite;
$white: snow;

/* グレー系 */
$gray: gray;
$dark-gray: #333631;

