@import "colors";
@import "dimensions";

html, body {
  height: 100%;
  font-family: "ヒライギノ角ゴ　Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meirio Osaka, "MS Pゴシック", "MS PGothic", sans-serif;
  margin: 0;
  padding: 0;
}

div#wrapper {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  background-color: $yellow;
}

// header h2 {
//   box-sizing: border-box;
//   width: 80%;
//   height: 80px;
//   margin: 0 auto;
//   padding-top: 30px;
//   background-color: $green;
//   color: $white;
//   text-align: left;
// }

// header a {
//   margin-left: 10px;
//   text-decoration: none;
//   color: $white;
// }

footer p {
  position: relative;
  width: 80%;
  height: 40px;
  margin: 0 auto;
  padding-top: 20px;
  background-color: $green;
  color: $white;
  text-align: center;
  border-radius: 10px 10px 0 0;
  font-size: $normal;
}
