@import "colors";
@import "dimensions";

div#wrapper_admin_top {
  position: absolute;
  width: 100%;
  height: 100%;
}

div#wrapper_admin_top {

div.blog_background img {
  position: fixed;
  width: 100%;
  height: 100%;
}

div.container_blog_load {
  position: absolute;
  width: 100%;
  height: auto;
  min-height: 100%;
}

div.blog_load {
  position: relative;
  width: 60%;
  height: auto;
  min-height: 100%;
  margin: 0 auto;
  background-color: $桜色;
}

div.blog_load {

  h2 {
    box-sizing: border-box;
    height: 70px;
    padding-top: 20px;
    text-align: center;
    color: $藍鉄;
  }

  p.user_name {
    box-sizing: border-box;
    width: 70%;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    color: $藍鉄;
    border-bottom: 1px solid $藍鉄;
  }

  ul {
    width: 90%;
    height: auto;
    margin: 50px auto;
  }

  li {
    display: flex;
    height: auto;
    min-height: 150px;
    margin: 15px 0;
    border-bottom: 1px solid $蜜柑色;
  }

  div.container_caption {
    box-sizing: border-box;
    width: calc(100% / 10 * 3);
    height: auto;
    min-height: 150px;
    padding: 10px;
    text-align: center;
  }

  p.image {
    margin: auto 0;
  }

  p.image img {
    width: auto;
    height: auto;
    max-height: 150px;
  }

  div.container_content {
    box-sizing: border-box;
    width: calc(100% / 10 * 6);
    height: auto;
    min-height: 150px;
    padding: 10px;
  }

  p.title {
    box-sizing: border-box;
    height: 30px;
  }

  p.title a {
    color: $黒紅;
    font-weight: bold;
  }

  p.content {
    box-sizing: border-box;
    height: auto;
    min-height: 60px;
  }

  p.content a {
    color: $黒紅;
    font-size: $small;
  }

  p.title a:hover,
  p.content a:hover {
    border-bottom: 1px solid $黒紅;
  }

  div.container_messages {
    display: flex;
  }

  p.time,
  p.messages_index {
    width: calc(100% / 2);
    height: auto;
  }

  p.time a {
    font-size: $tiny;
  }

  p.messages_index a {
    font-size: $small;
  }

  p.time a:hover {
    border-bottom: 1px solid $gray;
  }

  p.messages_index a:hover {
    color: $蜜柑色;
  }


  div.style_delete {
    box-sizing: border-box;
    width: calc(100% / 10 * 1);
    height: auto;
    min-height: 150px;
  }

  p.delete {
    box-sizing: border-box;
    height: 30px;
    margin: 50px 0;
    padding-top: 2px;
    background-color: $light-red;
    text-align: center;
    border-radius: 5px;
  }

  p.delete a {
    color: $white;
    font-size: $small;
  }

    p.delete a:hover {
      color: $yellow;
    }

    div.pagination {
      width: 100%;
      height: auto;
    }

    nav.pagination {
      box-sizing: border-box;
      width: 50%;
      height: auto;
      margin: 0 auto;
      padding: 30px 0;
      text-align: center;
    }

    nav.pagination  {

      span.first,
      span.prev,
      span.page.current,
      span.page.gap,
      span.page,
      span.next {
      box-sizing: border-box;
      width: 20px;
      height: 20px;
      padding: 0 5px;
      border-right: 1px solid $gray;
      color: $gray;
      }

      span.last {
      box-sizing: border-box;
      width: 20px;
      height: 20px;
      padding: 0 5px;
      color: $gray;
      }

      span.page.current {
        color: $黒紅;
        font-weight: bold;
        font-size: $huge;
      }

      span.first a:hover,
      span.prev a:hover,
      span.page a:hover,
      span.next a:hover,
      span.last a:hover {
      color: $蜜柑色;
      }

    }
  
    div.back_to_index {
      width: 70%;
      height: auto;
      margin: 30px auto 0;
      padding-top: 30px;
      text-align: center;
    }
  
    div.back_to_index a {
      font-size: $normal;
    }
  
      div.back_to_index a:hover {
        border-bottom: 1px solid $gray;
      }
  
    div.back_to_top {
      width: 70%;
      height: auto;
      margin: 30px auto 0;
      padding: 50px 0;
      text-align: center;
      border-top: 1px solid $黒紅;
    }
  
      div.back_to_top a:hover {
        border-bottom: 1px solid $gray;
      }

}



}