@import "colors";
@import "dimensions";

div#wrapper_admin_basicinfo {
  position: absolute;
  width: 100%;
  height: auto;
  min-height: 100%;
  opacity: 0.9;
}

div#wrapper_admin_basicinfo {

  div.main_container {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: $yellow;
  }

  p.name {
    box-sizing: border-box;
    width: calc(100% / 10 * 2.5);
    height: 70px;
    padding-top: 30px;
    background-color: $green;
    color: $white;
    font-weight: bold;
    text-align: center;
  }

  div.dummy {
    width: calc(100% / 10 * 6);
    height: 100%;
  }

  div#header_logout {
    width: calc(100% / 10 * 1.5);
    height: auto;
  }
  
  div#header_logout {
  
    p.image {
      box-sizing: border-box;
      position: absolute;
      width: calc(100% / 10 * 1.5);
      height: 40px;
      text-align: center;
      background-color: $葡萄色;
    }
  
    p.image img {
      width: auto;
      height: 20px;
      margin-top: 15px;
    }
  
    p.chara {
      box-sizing: border-box;
      position: absolute;
      top: 40px;
      width: calc(100% / 10 * 1.5);
      height: 30px;
      text-align: center;
      background-color: $葡萄色;
    }
  
    p.chara a {
      color: $white;
      font-size: $small;
      font-weight: bold;
    }
  
      p.chara a:hover {
        border-bottom: 1px solid $white;
      }
  
  }

  div.sub_container {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  div.container_info {
    position: relative;
    left: calc(100% / 10 * 2.5);
    width: calc(100% / 10 * 6);
    height: auto;
    min-height: 100%;
    padding-bottom: 50px;
    background-color: $桜色;
    opacity: 1;
  }

  div.container_info {

    p.info {
      box-sizing: border-box;
      width: 100%;
      height: 70px;
      margin: 0 auto 80px;
      padding-top: 20px;
      background-color: $light-red;
      color: $white;
      font-size: $huge;
      font-weight: bold;
      text-align: center;
    }

    p.basic_user {
      box-sizing: border-box;
      position: relative;
      width: 70%;
      height: 50px;
      margin: 60px auto 35px;
      padding-top: 10px;
      text-align: center;
      color: $黒紅;
      font-weight: bold;
      border-bottom: 1px solid $黒紅;
    }

    div.name,
    div.name_kana,
    div.zipcode,
    div.address,
    div.telephone,
    div.email,
    div.password {
      display: flex;
      width: 65%;
      height: auto;
      margin: 5px auto;
    }

    p.chara {
      box-sizing: border-box;
      width: calc(100% / 10 * 3);
      height: 35px;
      margin: 0 auto 10px;
      padding-top: 5px;
      padding-left: 20px;
      color: $gray;
    }

    p.content {
      box-sizing: border-box;
      width: calc(100% / 10 * 7);
      height: 35px;
      margin: 0 auto 10px;
      padding-top: 5px;
      font-weight: bold;
    }

    p.edit {
      box-sizing: border-box;
      width: 100px;
      height: 40px;
      margin: 30px auto 70px;
      padding-top: 7px;
      background-color: $green;
      text-align: center;
      border-radius: 10px;
    }

    p.edit a {
      color: $white;
    }

      p.edit a:hover {
      border-bottom: 1px solid $white;
      }

    p.back_to_top {
      box-sizing: border-box;
      width: 70%;
      height: auto;
      margin: 0 auto;
      padding-top: 30px;
      text-align: center;
      border-top: 1px solid $黒紅;
    }

    p.back_to_top a:hover {
      border-bottom: 1px solid $gray;
    }

}

}

/* edit */

div.container_info {

  input#user_family_name,
  input#user_given_name,
  input#user_family_name_kana,
  input#user_given_name_kana,
  input#user_zipcode,
  input#user_address,
  input#user_telephone {
    box-sizing: border-box;
    width: calc(100% / 10 * 3.5);
    height: 35px;
    margin-right: 10px;
    padding-left: 10px;
    border-color: $gray;
    border-radius: 5px;
  }

  input#user_zipcode,
  input#user_address,
  input#user_telephone {
    width: calc(100% / 10 * 7);
    height: 35px;
  }

  div.submit_user {
    width: 100px;
    height: 40px;
    margin: 30px auto 50px;
    text-align: center;
  }

  div.submit_user input {
    width: 100px;
    height: 40px;
    background-color: $蜜柑色;
    color: $white;
    font-size: $normal;
    border: none;
    border-radius: 10px;
  }

    div.submit_user input:hover {
      background-color: $light-red;
    }

  p.back_to_prev {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 30px;
    text-align: center;
  }

    p.back_to_prev a:hover {
      border-bottom: 1px solid $gray;
    }


}

