@import "colors";
@import "dimensions";

div#wrapper_blog_designs {
  position: absolute;
  width: 100%;
  height: calc(100% + (80px * 2));
  background-color: $yellow;
  z-index: 1;
}  

div#wrapper_blog_designs {

  h2, p {
    box-sizing: border-box;
    margin: 0;
  }
  
  ul {
    margin: 0;
  }

  li {
    display: block;
    font-size: $small;
    text-align: left;
    color: $gray;
  }

    li::before {
      content: "・";
      position: relative;
      left: 0;
      color: $gray;
    }

  div#blog_background img {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  div#main_container {
    position: absolute;
    top: 100px;
    width: 100%;
    height: auto;
    z-index: 2;
  }

  div#setting_blog_name {
    box-sizing: border-box;
    display: flex;
    position: fixed;
    width: 100%;
    height: 70px;
    margin: 0 auto;
    z-index: 4;
  }

    div#setting_blog_name h2 {
      box-sizing: border-box;
      position: relative;
      width: 80%;
      height: 70px;
      padding-top: 20px;
      margin: 0 auto;
      background-color: $yellow;
      text-align: center;
      border-radius: 0 0 10px 10px;
      z-index: 4;
    }

  div#custom {
    position: absolute;
    width:100%;
    height: 70px;
    text-align: center;
    z-index: 3;
  }

    div#custom
      p#title {
      box-sizing: border-box;
      width: 80%;
      height: 70px;
      margin: 0 auto;
      padding-top: 20px;
      background-color: $chocolate;
      color: $white;
      font-size: $huge;
      font-weight: bold;
      border-radius: 0 0 10px 10px;
    }

  div#container_setting_title {
    position: relative;
    width: 100%;
    height: auto;
  } 

  div#container_setting_title
    div.dummy {
      width: 55%;
      height: auto;
      margin: 0 auto;
      margin-top: 50px;
      background-color: $chocolate;
      text-align: center;
      border-radius: 0 0 20px 20px;
    }

  div#container_setting_title {

    h2 {
      width: 70%;
      margin: 0 auto;
      box-sizing: border-box;
      padding: 50px 0 50px;
      color: $white;
      border-bottom: 1px solid $white;
    }

    div#setting_background {
      display: flex;
      width: 70%;
      margin: 0 auto;
    }

      div#setting_background p {
        width: 70%;
        margin: 0 auto;
        padding: 20px;
        border-bottom: none;
        color: gray;
        font-size: $small;
      }

      div#setting_background a {
        color: $white;
        font-weight: bold;
        text-decoration: none;
        font-size: large;
      }

      div#setting_background a:hover {
        color: $yellow;
      }

      div#setting_background
        p.image_highlight {
        width: calc((100% - 10px) / 3);
        text-align: right;
      }

      div#setting_background
        p.setting_title {
        width: calc((100% - 10px) / 3 * 2);
        text-align: left;
      }

      div#setting_background_text p {
        width: 70%;
        padding-bottom: 30px;
        margin: 0 auto;
        border-bottom: 1px solid $red;
        text-align: left;
        color: $white;
      }

  }

  div#setting_container {
    box-sizing: border-box;
    position: relative;
    width: 55%;
    height: auto;
    min-height: 500px;
    margin: 50px auto 50px;
    padding: 5px 20px 20px;
    background-color: $white;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    z-index: 3;
  }

    div#setting_container h2 {
      width: 70%;
      padding: 50px;
      margin: 0 auto;
      border-bottom: 1px solid gray;
    }

  div#setting_container {

    div#container_blog_name,
    div#container_title_image,
    div#container_background,
    div#container_blog_caption,
    div#container_self_introduction {
      display: flex;
      width: 100%;
      height: auto;
    }

    div#chara,
    div#image,
    div#background,
    div#caption,
    div#introduction {
      width: calc(100% / 2.5);
      height: auto;
      margin-left: 45px;
    }
  
    div.dummy {
      width: calc(100% / 2.5 * 1.5);
      height: 100%;
      margin: 0 50px;
    }

    input {
      width: 100%;
      height: 50px;
      margin: 0;
      background-color: $黄支子色;
      color: $黒紅;
      font-size: $small;
      border: 1px solid $黒紅;
    }

    div.dummy_introduction {
      box-sizing: border-box;
      width: calc(100% / 2.5 * 1.5);
      height: auto;
      margin: 0 15px 15px;
      padding: 0 15px;
    }

    trix-editor {
      height: 120px;
      background-color: $黄支子色;
      overflow-y: auto;
      text-align: left;
    }

    div#shelter {
      width: 100%;
      height: auto;
    }

    p {
      width: 70%;
      height: 70px;
      margin: 60px auto 35px;
      padding-top: 20px;
      color: $黒紅;
      font-weight: bold;
      border-bottom: 1px solid $黒紅;
    }

    p#head {
      margin-top: 30px;
    }

    p#submit {
      border: none;
    }

    p#submit input {
      width: 150px;
      height: 45px;
      background-color: $green;
      color: $white;
      border: 1px solid $green;
      border-radius: 5px;
    }

      p#submit input:hover {
        background-color: $light-red;
        border: 1px solid $light-red;
      }
    
    p#back_to_prev {
      margin-bottom: 25px;
      padding-top: 30px;
      border-top: 1px solid $黒紅;
      border-bottom: none;
    }

    p#back_to_prev a {
      color: $gray;
    }

      p#back_to_prev a:hover {
        border-bottom: 1px solid $gray;
    }

    p#blog_name,
    p#title_image,
    p#background,
    p#caption_short,
    p#caption_long {
      height: auto;
      color: $蜜柑色;
      font-size: $huge;
      border: none;
    }

      p#caption_short {
        width: 70%;
        height: auto;
        text-align: left;
        font-size: $large;
      }

    div.trix-content {
      width: 70%;
      height: auto;
      margin: 50px auto;
      text-align: center;
      color: $蜜柑色;
    }

    div#shelter img {
      width: 400px;
      height: auto;
    }

  }

      div#back_to_top p {
        width: 70%;
        margin: 0 auto;
        padding: 50px; 
        border-bottom: none;
      }

      div#back_to_top a {
        color: gray;
        font-size: $normal;
        text-decoration: none;
      }

      div#back_to_top a:hover {
        border-bottom: 1px solid gray;
      }

}

div#main_container
  div#footer {
    position: relative;
    width: 100%;
    height: 60px;
  }

div#main_container
  div#footer p {
    width: 80%;
    height: 50px;
    margin: 0 auto;
    padding-top: 15px;
    background-color: $yellow;
    color: $white;
  }