@import "colors";
@import "dimensions";

div#wrapper_blog_designs {
  position: absolute;
  width: 100%;
  height: auto;
  min-height: 100%;
}  

div#wrapper_blog_designs {

  h2, p {
    box-sizing: border-box;
    margin: 0;
  }
  
  ul {
    margin: 0;
  }

  li {
    display: block;
    font-size: $small;
    text-align: left;
    color: $gray;
  }

    li::before {
      content: "・";
      position: relative;
      left: 0;
      color: $gray;
    }

    div.main_container  {
      position: fixed;
      display: flex;
      width: 100%;
      height: 100%;
      background-color: $yellow;
      opacity: 0.9;
    }

    div.main_container  {

      p.name  {
        box-sizing: border-box;
        width: calc(100% / 10 * 2.5);
        height: 70px;
        padding-top: 30px;
        background-color: $green;
        color: $white;
        font-weight: bold;
        text-align: center;
      }
    
      div.dummy  {
        width: calc(100% / 10 * 6);
        height: 100%;
      }

      div.header_logout {
        width: calc(100% / 10 * 1.5);
        height: auto;
      }
    
      div.header_logout {
    
        p.image {
          box-sizing: border-box;
          position: absolute;
          width: calc(100% / 10 * 1.5);
          height: 40px;
          padding-left: 10px;
          text-align: center;
          background-color: $葡萄色;
        }
    
        p.image img {
          width: auto;
          height: 20px;
          margin-top: 15px;
        }
    
        p.chara {
          box-sizing: border-box;
          position: absolute;
          top: 40px;
          width: calc(100% / 10 * 1.5);
          height: 30px;
          padding-left: 10px;
          text-align: center;
          background-color: $葡萄色;
        }
    
        p.chara a {
          color: $white;
          font-size: $small;
          font-weight: bold;
        }
    
          p.chara a:hover {
            border-bottom: 1px solid $white;
          }
    
      }
    
    }  

  div.sub_container {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  div.container_load {
    position: absolute;
    left: calc(100% / 10 * 2.5);
    width: calc(100% / 10 * 6);
    height: auto;
    min-height: 100%;
    background-color: $桜色;
  }

  div.container_setting_title {
    position: relative;
    width: 100%;
    height: auto;
  } 

  div.container_setting_title {

    h2 {
      box-sizing: border-box;
      width: 100%;
      height: 70px;
      margin: 0 auto;
      padding-top: 20px;
      background-color: $紅紫;
      text-align: center;
      color: $white;
    }

      div.setting_background_text p {
        width: 60%;
        padding: 100px 0 50px;
        margin: 0 auto;
        text-align: left;
        color: $黒紅;
      }

  }

  p.title {
    box-sizing: border-box;
    width: 50%;
    height: 70px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    color: $藍鉄;
    font-weight: bold;
    border-bottom: 1px solid $黒紅;
  }

  div.setting_container {
    box-sizing: border-box;
    position: relative;
    width: 80%;
    height: auto;
    min-height: 500px;
    margin: 30px auto 0;
    padding: 5px 20px 20px;
    text-align: center;
  }

    div.setting_container h2 {
      width: 70%;
      padding: 50px;
      margin: 0 auto;
      border-bottom: 1px solid gray;
    }

  div.setting_container {

    div.container_blog_name,
    div.container_title_image,
    div.container_background,
    div.container_blog_caption,
    div.container_self_introduction {
      display: flex;
      width: 100%;
      height: auto;
    }

    div.chara,
    div.image,
    div.background,
    div.caption,
    div.introduction {
      width: calc(100% / 2.5);
      height: auto;
      margin-left: 45px;
    }
  
    div.dummy {
      width: calc(100% / 2.5 * 1.5);
      height: 100%;
      margin: 0 50px;
    }

    input {
      width: 100%;
      height: 50px;
      margin: 0;
      background-color: $黄支子色;
      color: $黒紅;
      font-size: $small;
      border: 1px solid $黒紅;
      border-radius: 5px;
    }

    div.dummy_introduction {
      box-sizing: border-box;
      width: calc(100% / 2.5 * 1.5);
      height: auto;
      margin: 0 15px 15px;
      padding: 0 15px;
    }

    trix-editor {
      height: 120px;
      background-color: $黄支子色;
      overflow-y: auto;
      text-align: left;
    }

    div.shelter {
      width: 100%;
      height: auto;
      color: $蜜柑色;
    }

    p {
      width: 100%;
      height: 50px;
      margin: 60px auto 35px;
      padding-top: 10px;
      color: $黒紅;
      font-weight: bold;
      border-bottom: 1px solid $黒紅;
    }

    p.head {
      margin-top: 30px;
    }

    p.submit {
      border: none;
    }

    p.submit input {
      width: 120px;
      height: 45px;
      background-color: $藍鉄;
      color: $white;
      border-radius: 5px;
    }

      p.submit input:hover {
        background-color: $light-red;
        border: 1px solid $light-red;
      }
    
    p.back_to_prev {
      margin-bottom: 25px;
      padding-top: 30px;
      border-top: 1px solid $黒紅;
      font-weight: normal;
      border-bottom: none;
    }

    p.back_to_prev a {
      color: $gray;
    }

      p.back_to_prev a:hover {
        border-bottom: 1px solid $gray;
    }

    p.blog_name,
    p.title_image,
    p.background,
    p.caption_short,
    p.caption_long {
      height: auto;
      color: $黒紅;
      font-size: $huge;
      border: none;
    }

      p.caption_short {
        width: 70%;
        height: auto;
        text-align: left;
        font-size: $large;
      }

    div.trix-content {
      width: 70%;
      height: auto;
      margin: 50px auto 100px;
      text-align: center;
      color: $黒紅;
    }

    div.blank {
      width: 70%;
      height: auto;
      margin: 60px auto 100px;
      text-align: center;
      color: $黒紅;
      font-weight: bold;
    }

    div.shelter img {
      width: 400px;
      height: auto;
    }

  }

      div.back_to_top p {
        width: 100%;
        margin: 0 auto;
        padding: 50px; 
        border-bottom: none;
        border-top: 1px solid $藍鉄;
      }

      div.back_to_top a {
        color: gray;
        font-weight: normal;
        text-decoration: none;
      }

      div.back_to_top a:hover {
        border-bottom: 1px solid gray;
      }

  div.edit p {
    width: 120px;
    height: 40px;
    margin: 30px auto;
    padding-top: 7px;
    background-color: $green;
    border: none;
    border-radius: 5px;
  }

  div.edit p a {
   color: $white;
   font-weight: normal;
  }

    div.edit p a:hover {
      border-bottom: 1px solid $white;
    }


}
