@import "colors";
@import "dimensions";


div#wrapper_display {
  position: absolute;
  width: 100%;
  height: calc(100% + (80px * 2));
  z-index: 1;
}

div#wrapper_display {

  ul {
    margin: 0;
  }

  li {
    display: inline-block;
  }

  p {
    margin: 0;
  }


  div#blog_background img {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

  div#setting_blog_name {
    box-sizing: border-box;
    display: flex;
    position: fixed;
    width: 100%;
    height: 40px;
    text-align: center;
    z-index: 4;
  }

  div#setting_blog_name h2 {
    box-sizing: border-box;
    position: relative;
    width: 80%;
    height: inherit;
    margin: 0 auto;
    padding-top: 15px;
    text-align: center;
    background-color: $yellow;
    font-size: 22px;
    z-index: 4;
  }

  div#container_my_page {
    position: fixed;
    display: flex;
    top: 40px;
    width: 100%;
    height: 30px;
    margin: 0 auto;
    z-index: 4;
    }

    div#my_page {
      position: relative;
      width: 80%;
      height: 30px;
      margin: 0 auto;
      background-color: $yellow;
      z-index: 4;
    }

    div#my_page p {
      box-sizing: border-box;
      width: calc((100% - 20px) / 9 * 8);
      height: inherit;
      margin: 0;
      padding-top: 0;
      color: $white;
      text-align: right;
    }

    div#my_page
      p#chara_my_page {
      box-sizing: border-box;
      width: calc((100% - 20px) / 9);
      height: inherit;
      margin: 0 10px 0 0;
      padding-top: 0;
      color: $white;
      text-align: left;
      font-size: $large;
    }

    p#chara_my_page a {
      color: $white;
      font-weight: bold;
    }

    p#chara_my_page a:hover {
      border-bottom: 1px solid $white;
    }

    div#profile {
      position: absolute;
      top: 70px;
      display: flex;
      width: 100%;
      height: 35px;
    }
  
    div#profile p {
      box-sizing: border-box;
      position: relative;
      width: 80%;
      height: inherit;
      margin: 3px auto;
      padding-top: 5px;
      background-color: $light-red;
      text-align: center;
      border-radius: 0 0 10px 10px;
      z-index: 1;
    }
  
      div#profile a {
        color: $white;
        font-size: $large;;
        z-index: 1;
      }
  
      div#profile a:hover {
        border-bottom: 1px solid $white;
      }

  div#container_past {
    width: 100%;
    height: 80px;
  }
    div#subcontainer_past {
      width: 60%;
      height: inherit;
      margin: 0 auto;
    }

    div#past {
      width: 100%;
      height: inherit;
      background-color: $桜色;
      border-radius: 10px 10px 0 0;
    }

    div#past p {
      box-sizing: border-box;
      width: 80%;
      height: inherit;
      margin: 0 auto;
      padding-top: 30px;
      color: $黒紅;
      text-align: center;
      font-size: $large;
      font-weight: bold;
      border-bottom: 1px solid $黒紅;
      z-index: 2;
    }

  div#container_archive {
    position: absolute;
    top: 200px;
    width: 100%;
    height: auto;
    z-index: 1;
  }

    div#container_archive
      div#subcontainer {
        position: relative;
        width: 60%;
        height: auto;
        min-height: 500px;
        margin: 0 auto;
        margin-bottom: 50px;
        background-color: $桜色;
        border-radius: 0 0 10px 10px;
        z-index: 1;
      }

      div#container_archive
        div#subcontainer li {
          display: block;
        }

    div#container_archive
      div#dummy {
        position: relative;
        width: 100%;
        height: auto;
        min-height: inherit;
        margin: 0 auto;
        z-index: 1;
      }

    div#subcontainer
      div#sub_subcontainer {
        box-sizing: border-box;
        position: relative;
        display: flex;
        width: 90%;
        height: auto;
        margin: 0 auto;
        padding: 20px 0 20px 0px;
        border-bottom: 1px solid $蜜柑色;
        z-index: 1;
      }

    div#sub_subcontainer {

      div#container_blogs {
        box-sizing: border-box;
        display: flex;
        width: calc(100% / 4 * 3);
        height: 130px;
        padding: 10px 0 10px;
      }

      p#caption_image {
        width: calc(100% / 3);
        height: inherit;
      }

        p#caption_image:hover {
          opacity: 0.8;
        }


      div#container_content {
        box-sizing: border-box;
        width: 100%;
        height: 115px;
        padding-top: 5px;
      }

      p#title {
        width: 100%;
        height: 25px;
        padding-left: 15px;
      }
        p#title a {
          color: $黒紅;
          font-weight: bold;
        }

        p#title a:hover {
          border-bottom: 1px solid $黒紅;
        }

      p#content {
        width: 100%;
        height: 50px;
        padding-left: 15px;
      }

        p#content a {
          font-size: $normal;
        }

      p#time {
        width: 100%;
        height: 20px;
        padding-left: 15px;
      }
        p#time a {
          font-size: $small;
        }

        p#content a:hover,
          p#time a:hover {
          border-bottom: 1px solid $gray;
        }

      div#container_reviews {
        box-sizing: border-box;
        width: calc(100% / 4);
        height: 130px;
        padding: 25px 0 10px;
        text-align: center;
      }

      p#string a,
        p#counts a {
        color: $黒紅;
        font-size: $normal;
      }

        p#string a:hover,
          p#counts a:hover {
          color: $蜜柑色;
        }

    }

  div#subcontainer
    nav.pagination {
      width: 100%;
      height: 50px;
      margin: 20px auto;
      text-align: center;
    }

  nav.pagination  {

    span.first,
    span.prev,
    span.page.current,
    span.page.gap,
    span.page,
    span.next {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    padding: 0 5px;
    border-right: 1px solid $gray;
    color: $gray;
    }

    span.last {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    padding: 0 5px;
    color: $gray;
    }

    span.page.current {
      color: $黒紅;
      font-weight: bold;
      font-size: $huge;
    }

    span.first a:hover,
    span.prev a:hover,
    span.page a:hover,
    span.next a:hover,
    span.last a:hover {
    color: $蜜柑色;
    }

  }
    
  div#home_tag {
    display: flex;
    position: relative;
    bottom: 0px;
    width: 80%;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    z-index: 3;
  }

  div#home_tag
    p#image {
    position: relative;
    bottom: 0px;
    width: calc(100% / 10);
    height: inherit;
    margin: 0 auto;
    padding-top: 10px;
    background-color: $yellow;
    text-align: right;
    border-radius: 10px 0 0 0;
    z-index: 3;
    }

  div#home_tag
    p#come_home {
    position: relative;
    bottom: 0px;
    width: calc(100% / 10 * 9);
    height: inherit;
    margin: 0 auto;
    padding-top: 10px;
    background-color: $yellow;
    text-align: left;
    border-radius: 0 10px 0 0;
    z-index: 4;
  }

    div#home_tag
      p#come_home a {
      color: $white;
      font-size: $large;
      }

      div#home_tag
        p#come_home a:hover {
        border-bottom: 1px solid $white;
        }

div#subcontainer
  p#back_to_top {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px auto 30px;
    text-align: center;
  }
      
  div#subcontainer {

    p#back_to_top a {
      color: $黒紅;
    }
      
      p#back_to_top a:hover {
        border-bottom: 1px solid $黒紅;
      }       

  }
     
}