

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

div#wrapper {
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto;
  background-color: lightyellow;
}

header h2 {
  box-sizing: border-box;
  height: 100px;
  margin: 0 auto;
  padding-top: 30px;
  background-color: olive;
  color: snow;
  text-align: center;
}



header span.logo-mark {
  font-weight: bold;
} 

footer p {
  height: 50px;
  margin: 0 auto;
  padding-top: 20px;
  background-color: olive;
  color: snow;
  text-align: center;
  font-size: 15px;
}