@import "colors";
@import "dimensions";

li {
  display: inline-block;
}

div#wrapper_top {
  position: absolute;
  width: 100%;
  height: calc(100% + (80px * 2));
  z-index: 1;
}

div#wrapper_top
  div#blog_background img {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

div#wrapper_top {

  div#setting_blog_name {
    box-sizing: border-box;
    display: flex;
    position: fixed;
    width: 100%;
    height: 40px;
    text-align: center;
    z-index: 4;
  }

  div#setting_blog_name h2 {
    box-sizing: border-box;
    position: relative;
    width: 80%;
    height: inherit;
    margin: 0 auto;
    padding-top: 15px;
    text-align: center;
    background-color: $yellow;
    font-size: 22px;
    z-index: 4;
  }

  div#container_my_page {
    position: fixed;
    display: flex;
    top: 40px;
    width: 100%;
    height: 30px;
    margin: 0 auto;
    z-index: 4;
    }

    div#my_page {
      position: relative;
      width: 80%;
      height: 30px;
      margin: 0 auto;
      background-color: $yellow;
      z-index: 4;
    }

    div#my_page p {
      box-sizing: border-box;
      width: calc((100% - 20px) / 9 * 8);
      height: inherit;
      margin: 0;
      padding-top: 0;
      color: $white;
      text-align: right;
    }

    div#my_page
      p#chara_my_page {
      box-sizing: border-box;
      width: calc((100% - 20px) / 9);
      height: inherit;
      margin: 0 10px 0 0;
      padding-top: 0;
      color: $white;
      text-align: left;
      font-size: $large;
  }

    p#chara_my_page a {
      color: $white;
      font-weight: bold;
    }

    p#chara_my_page a:hover {
      border-bottom: 1px solid $white;
    }

  div#profile {
    position: absolute;
    top: 70px;
    display: flex;
    width: 100%;
    height: 35px;
  }

  div#profile p {
    box-sizing: border-box;
    position: relative;
    width: 80%;
    height: inherit;
    margin: 3px auto;
    padding-top: 5px;
    background-color: $light-red;
    text-align: center;
    border-radius: 0 0 10px 10px;
    z-index: 1;
  }

    div#profile a {
      color: $white;
      font-size: $large;;
      z-index: 1;
    }

    div#profile a:hover {
      border-bottom: 1px solid $white;
    }

div#blog_container {
  position: absolute;
  top: 200px;
  width: 100%;
  min-height: 500px;
  z-index: 2;
}

div#blog_container {

  div#container_latest {
    width: 100%;
    height: 80px;
  }

    div#subcontainer_latest {
      width: 65%;
      height: inherit;
      margin: 0 auto;
    }

    div#latest {
      width: 100%;
      height: inherit;
      margin-left: 0;
      background-color: $桜色;
      border-radius: 20px 20px 0 0;
      }

      div#latest p {
        box-sizing: border-box;
        width: 80%;
        height: inherit;
        margin: 0 auto;
        padding-top: 30px;
        text-align: center;
        font-size: $large;
        font-weight: bold;
        border-bottom: 1px solid $黒紅;
        }

  div.dummy {
    position: relative;
    width: 65%;
    height: inherit;
    margin: 0 auto;
    background-color: $桜色;
    border-radius: 0 0 10px 10px;
    z-index: 2;
    }

  div#navi_container {
    position: absolute;
    display: flex;
    top: 30px;
    left: 80px;
    width: 200px;
    }

  div#navi_container
    p#navi, p {
      width: 100%;
      text-align: left;
      color: $黒紅;
    }

  div.sub_container {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    z-index: 2;
  }

  div.sub_container ul {
    box-sizing: border-box;
    position: relative;
    width: inherit;
    min-height: 600px;
    margin: 0 auto;
    padding: 50px 65px 70px;
    text-align: left;
  }

  div.sub_container li {
    box-sizing: border-box;
    width: 250px;
    height: 250px;
    margin: 30px auto;
  }

}

  div.sub_container {
  
    p#caption_image {
      width: auto;
      height: 150px;
      margin: 0 10px 0;
      background-color: $white;
      border-radius: 10px 10px 0 0;
      text-align: center;
      box-shadow: 1px 1px $gray;
    }

    p#caption_image img {
      width: 100%;
      height: 150px;
      margin: 0 auto;
      border-radius: 10px 10px 0 0;
    }

      p#caption_image img:hover {
        opacity: 0.8;
      }

  }


  div.sub_container {

    div#article {
      height: 100px;
      margin: 0 10px 0;
      padding: 5px 10px;
      background-color: $white;
      border-radius: 0 0 10px 10px;
      box-shadow: 1px 1px $gray;
    }

    div#article p {
      margin: 0;
    }

    div#article
      p#title {
      width: 100%;
      height: 25px;
      box-sizing: border-box;
      margin-bottom: 5px;
    }

      div#article
        p#title a {
        color: $藍鉄;
        font-size: $small;
        font-weight: bold;
        }

        div#article
          p#title a:hover {
          border-bottom: 1px solid black;        
        }

    div#article
      p#content {
      width: 95%;
      height: 40px;
      font-size: $small;
      margin: 0 auto 10px;
      color: gray;
    }

    div#article
      p#time {
      width: 100%;
      height: 17px;
      font-size: $tiny;
    }

      div#article
        p#content a:hover, p#time a:hover {
        border-bottom: 1px solid gray;        
      }
  
    }


    div#blog_container
      div.dummy {

        p#archive {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 30px;
        margin: 30px 0;
        text-align: center;
        z-index: 2;
        }

        p#archive a {
          color: $黒紅;
        }

        p#archive a:hover {
          border-bottom: 1px solid $黒紅;
        }

    }
  
    div#home_tag {
      display: flex;
      position: relative;
      bottom: 0px;
      width: 80%;
      height: 40px;
      margin: 50px auto 0;
      text-align: center;
      z-index: 3;
    }

    div#home_tag
      p#image {
      position: relative;
      bottom: 0px;
      width: calc(100% / 10);
      height: inherit;
      margin: 0 auto;
      padding-top: 10px;
      background-color: $yellow;
      text-align: right;
      border-radius: 10px 0 0 0;
      z-index: 3;
      }

    div#home_tag
      p#come_home {
      position: relative;
      bottom: 0px;
      width: calc(100% / 10 * 9);
      height: inherit;
      margin: 0 auto;
      padding-top: 10px;
      background-color: $yellow;
      text-align: left;
      border-radius: 0 10px 0 0;
      z-index: 4;
    }

      div#home_tag
        p#come_home a {
        color: $white;
        font-size: $large;
        }

        div#home_tag
          p#come_home a:hover {
          border-bottom: 1px solid $white;
          }

    }