<p>平素、お世話になっております。<%= @resource.email %です。</p>

<p>パスワードを再設定するためのURLのリクエストを頂きましたので、以下のリンクをクリックし、手続きを行って下さい。</p>

<p><%= link_to 'パスワードの再設定', edit_user_password_url(@resource, reset_password_token: @token) %></p>

<p>リクエストをしていない場合は、このメールを無視して下さい。</p>
<p>上記のリンクにアクセスして、新しいパスワードを設定するまでは、パスワードは変更されません。</p>
